body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.item {
    width: 500px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    border: 1px solid #999;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.item span {
    display: block;
    margin: 5px auto;
    width: 350px;
    text-align: left;
}

.item #year, .item #month, .item #number, .item #cost {
    width: 200px;
    padding: 5px;
    margin: 2px 0;
    font-size: 24px;
}

.item #english {
    width: 50px;
    padding: 5px;
    font-size: 24px;
    text-transform: uppercase;
}

h1 {
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

td {
    text-align: center;
    text-height: center;
    font-weight:bold;
}

.inv-list {
    width:400px;
    height:600px;
    overflow: auto;
    box-shadow: 0 0 5px #ccc;
    margin: 0px auto;
    text-align: center;
    padding: 5px auto;
    
}

div li {
    list-style-type:none;
}
    